.comments-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 85%;
  max-width: 800px;
  font-size: 16px;
  z-index: 1;
}

.section-reply {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 2px solid hsl(223, 19%, 93%);
  margin-bottom: 15px;
}

.comments-list .single-comment.reply-msg {
  width: 100%;
  /* padding-left: 60px;
  padding-top: 20px; */
}

@media (max-width: 460px) {
  .section-reply {
    margin-left: 10px;
    padding-left: 15px;
  }
}
