.comments-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 800px;
  font-size: 16px;
  z-index: 1;
}

.replay-msg {
  padding-left: 60px;
  padding-top: 20px;
}

.section-reply {
  margin-left: 25px;
  padding-left: 25px;
  border-left: 2px solid hsl(223, 19%, 93%);
  margin-bottom: 15px;
}
